<% # handle and show forms errors %>
<% if object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <h3> Il form contiene <%= pluralize(object.errors.count, "errori") %>.</h3>
      </div>
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <h3><li>* <%= message %></li></h3>
        <% end %>
      </ul>
    </div>
<% end %>