
<% provide :title, 'Chi siamo'   %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo.png") %>
  </div>
</a>

<h1>About us</h1>
<p>SWorD (Social Web of real Domotics) is a prototype social network where users, homes,
  providers, devices and appliances can interact in a "smart" way, by talking each other and thus lowering the
  technical knowledge to use home automation and domotics systems.</p>