
<% provide :title, 'Contattaci' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo.png") %>
  </div>
</a>

<h1>Contact</h1>
<p>Giorgia Salis - Massimiliano Manzo - Gianluca Giraudo</p>
