<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Faq' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo.png") %>
  </div>
</a>

<h1>Faq</h1>
<p>This page will host some useful hints...</p>