<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Faq' %>
<%= render 'layouts/header' %>

<a href=<%= homepage_users_path %>>
  <div class="img_logo">
    <%= image_tag("Viaggi del Guizaglio_Logo7.png") %>
  </div>
</a>

<h2>Faq</h2>
<div class="faq">
      <br/>
      </br>

      <h1>Quali servizi offre I viaggi del guinzaglio?</h1>
      <h3>I viaggi del guinzaglio è prima di tutto un social network. Qui puoi fare quello che ti aspetti di fare in un network: conoscere persone, commentare i post, partecipare a delle iniziative. Ma è anche un supporto reale per l’organizzazione della tua vacanza in compagnia di un cane. Trovi tutte le informazioni sulle strutture che accoglieranno te e il tuo migliore amico, gli itinerari già preparati da altri utenti e vincere dei ricchi premi.</h3>

      <br/>

      <h1>È o sarà mai a pagamento? </h1>
      <h3>I viaggi del guinzaglio ha scelto una filosofia light: leggerezza nei contenuti, nei contatti e, ovviamente, nell’approccio dell’utente. Sarà gratis, per sempre. </h3>

      </br>

      <h1>I contenuti relativi alle vacanze sono attendibili?</h1>
      <h3>Gli utenti che partecipano a I viaggi del guinzaglio si mettono in gioco in prima persona, proponendo i propri itinerari e consigli di viaggio. Questo rende l’offerta ricca e sfaccettata. La nostra redazione mantiene tuttavia un controllo diretto e omogeneo sui contenuti pubblicati, sia per garantire l’aderenza al vero, che per evitare la condivisione di informazioni inopportune.</h3>

      </br>

      <h1>Io mi sono iscritto e sto leggendo questa pagina. Ma un mio amico può consultare i vostri contenuti anche senza registrarsi?</h1>
      <h3>Oltre a una tradizionale forma di registrazione e di login, abbiamo predisposto l’accesso immediato tramite due dei social network più popolari: Twitter e Facebook. Un modo immediato e veloce per autenticarsi e iniziare subito a partecipare. Se il tuo amico non ha nemmeno Facebook e Twitter, forse I viaggi del guinzaglio non fa al caso suo.</h3></p>
</div>