/* Stylesheet inspired and partially taken from the Rails Tutorial book (http://railstutorial.org) */

@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* general */

html {
  overflow-y: scroll;
}

body {
  padding-top: 30px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;

  margin: 0;
  background-color: #ffffff;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Champagne & Limousines';
  src: url('assets/fonts/champagne_limousines/Champagne & Limousines.ttf') format('truetype');
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 7px;
  text-align: center;
  font-weight: normal;
  color: black;
}

h2, #scritta {
  font-family: 'From the Woods';
  src: url('assets/fonts/From the Woods.otf') format('truetype');
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: darkorange;
}

h3, #Label{
  font-family: 'Champagne & Limousines';
  src: url('assets/fonts/champagne_limousines/Champagne & Limousines.ttf') format('truetype');
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  //text-align: center;
  font-weight: normal;
  color: black;
  margin-top: 3px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.iconcina{
  margin-top: 11px;
}

#iconcina_search{
  margin-top: 11px;
  margin-left: 22px;
}



/* footer */
footer {
  //padding-top: 5px;
  border-top: 1px solid  $grayLight;;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    //border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* img gravatar tonda */
.gravatar {
    -webkit-border-radius: 90px 90px;
    -moz-border-radius: 90px 90px;
    border-radius: 90px 90px;
}


/* forms */

input, select, .uneditable-input {
  width: 250px;
  @include box_sizing;
}

textarea {
  height: 100px;
  width: 250px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* itinerarios */
.itinerari {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 6px 0;
    border-top: 1px solid gray;
  }
}
.content {
  display: block;

}
.timestamp {
  color: midnightblue;
  .h3{
    text-align: center;
  }

}


.field {
  textarea {
    height: 100px;
  }
}

/* Nelle pagine spefichie Hotel, Ristorante, Luogo */
.info_struttura{
  text-align: center;
  margin-top: 50px;
  margin-left: 40px;
  padding: 30px;
  border: 1px solid lightgray;
}

#img{
  margin-top:50px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*pagina iniziale*/

#colonnadx{
  margin-top: 68px;
  width: 45%;
  float: right;
  margin-right: 50px;

  #h4{
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: normal;
    color: #ffffff;

  }

}

#colonnasx{
  margin-left: 40px;
  width: 40%;
  float:left;

  #img_home {
    background-repeat: no-repeat;
    width: 335px;
    margin-top: 30px;
    margin-left: 80px;
  }

  .login {
    background-color: #ffffff;
    font-size: 10px;
    text-align: center;
    //padding-bottom: 10px;
    border-bottom: 2px solid lightgray;

  }

  .login_form {
    padding: 5px;
    text-align: center;
  }

  .registrati {
    font-size: 13px;
    padding-bottom: 20px;
    text-align: center;
  }

  #seinuovo{
    font-size: 16px;
    text-align: center;
  }
}


/*form tutti*/

.dati_form {
  background-color: #ffffff;
  font-size: 16px;
  padding-left: 45px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.sub_dati_form{
  background-color: #ffffff;
  border: 1px solid lightgray;
  font-size: 16px;
  margin-top: 20px;
  padding: 30px;
  text-align: center;

  .h3{
    padding: 3px;
  }
}


/*pagina Home page*/
/* logo presente in ogni pagina*/
.img_logo{
  width: 230px;
  padding-top:30px;
  text-align: center;
}

#tot_colonnasx_home{
  float: left;
  width: 40%;
  margin-bottom: 30px;
}

#colonnasx_home{
  //padding: 10px;
  border: 1px solid lightgray;
  background-color: lightgray;
  opacity:0.8;
  filter:alpha(opacity=80);
  h3{
    text-align: center;
  }
}

#colonnasx_home2{
  padding: 20px;
  margin-top: 10px;
  border: 1px solid lightgrey;
  background-color: lightgray;
  opacity:0.8;
  filter:alpha(opacity=80);

}

/* concorsi in homepage */
.background{
  background: url('maddie_lingua.jpg');
  background-repeat: no-repeat;
  padding: 26px;
  margin-top: 15px;
}

.background_utente{
  background: url('maddie-ricerca.jpg');
  background-repeat: no-repeat;
  padding: 26px;
  margin-top: 15px;
}


#tot_colonnadx_home{
  margin-top: 100px;
  float: right;
  width: 55%;
  text-align: center;
  margin-bottom: 30px;



  #benvenuto{
    margin-right: 8px;
  }

}

.colonnadx_home{
  padding: 15px;
}


.sub_itinerari{
  letter-spacing: 3px;
  font-size: 40px;
  margin-bottom: 5px;
  color: darkorange;

}

 #cerca{
   margin-left: 15px;
   margin-top: 2px;
      }

 /* info in pagina profilo utente */
 .utente{
   margin-left: 30px;
   background: url('maddie-zampe.jpg');
   background-repeat: no-repeat;
   padding: 90px;
   font-size: 16px;

   h1{
     text-align: center;
     color: #ffffff;
     font-size: 30px;
   }

   h3{
     color: #ffffff;
     text-align: center;
   }

   .gravatar {
     -webkit-border-radius: 90px 90px;
     -moz-border-radius: 90px 90px;
     border-radius: 90px 90px;
     margin-left: 60px;

   }

 }

 .ricercautente{
   float: left;
 }


 #stats_div{
   margin-left: 65px;
   a {
     float: left;
     padding: 0 10px;
     border-left: 1px solid #ffffff;
     color: #ffffff;
     &:first-child {
       padding-left: 0;
       border: 0;
     }
     &:hover {
       text-decoration: none;
       color: #54BAE2;
     }
   }
   strong {
     display: block;
   }
 }

#modifica_div{
  margin-left: 40px;
  margin-top: 10px;
  text-align: center;
}

 .utente_follow{
   margin-left: 400px;
   width: 30%;
   text-align: center;
 }

 .cercautente{
   margin-bottom: 20px;
 }

.navbar
  .navbar-inner {
  background-image: none;
  background-color: black;
  }

#contatti_gian{
  margin-top: 200px;
  margin-bottom: 360px;
}

#contatti_gio{
  margin-bottom: 360px;
}

#movie{
  margin-left: 30px;
}

#mappa{
  margin-top: 20px;
  margin-left: 20px;
}

.chisiamo{
  padding-left: 130px;
  padding-right: 130px;
  text-align: center;

}

.faq{
  text-align: center;
  h1{
    color: #54BAE2;
  }
}





/* Nuovo itinerario canvas*/
.canvasbottoni{
  padding-left: 60px;
  padding-top: 90px;
}

.numeri{
  .numeri_bottoni{
    padding: 10px;
  }
}

#titolo_nuovo_it{
  margin-right: 20px;
}



/* carousel */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}






