<ol class="itinerari">
  <span class="content">
    <% @itinerarios = Itinerario.all.sort_by{|e| -e[:voto]}.paginate(page: params[:page], :per_page => 3)   %>
    <% @itinerarios.each do |itinerario|  %>
               <%= render itinerario %>
        <h3>Itinerario di <%= link_to User.find(itinerario.user_id).name, User.find(itinerario.user_id)  %></h3>

              <% end %>
      </span>

</ol>
