<!-- Footer sotto carousel homepage : link a lista completa degli itinerari -->
<footer class="footer">
  <nav>
    <ul>
      <li><h3><%= link_to "Vedi tutti gli itinerari", 'itinerarios/all' %></h3></li>
    </ul>
  </nav>
</footer>