<!-- Footer sotto carousel homepage : link a lista completa degli itinerari dei following -->
<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
      <li><h3><%= link_to "Vedi tutti gli itinerari dei tuoi following", 'itinerarios/allfollowing' %></h3></li>

    </ul>
  </nav>
</footer>